<!-- {{title}} -->
<header-select></header-select>
<login-select></login-select> 
 <video autoplay muted loop class="embed-responsive-item">
    <source src="assets/videos/wild.mp4" type="video/mp4">
</video>
<section>
    <h2 class="text-center">About Us</h2>  
<div style="display:block;"[style.width]="width" id="about">
    <slideshow #slideshow
    [imageUrls]="imageUrls"
    [height]="height"
    [minHeight]="minHeight"
    [arrowSize]="arrowSize"
    [showArrows]="showArrows"
    [disableSwiping]="disableSwiping"
    [autoPlay]="autoPlay"
    [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
    [debug]="debug"
    [backgroundSize]="backgroundSize"
    [backgroundPosition]="backgroundPosition"
    [backgroundRepeat]="backgroundRepeat"
    [showDots]="showDots"
    [dotColor]="dotColor"
    [showCaptions]="showCaptions"
    [captionColor]="captionColor"
    [captionBackground]="captionBackground"
    [lazyLoad]="lazyLoad">
</slideshow>
</div>
</section> 

<div id="owl-demo" class="owl-carousel owl-theme">
          
    <div class="item"><img src="assets/images/im1.jpg" alt="Owl Image"></div>
    <div class="item"><img src="assets/images/im2.jpg" alt="Owl Image"></div>
    <div class="item"><img src="assets/images/im3.jpg" alt="Owl Image"></div>
    <div class="item"><img src="assets/images/im4.jpg" alt="Owl Image"></div>
    <div class="item"><img src="assets/images/im5.jpg" alt="Owl Image"></div>
    <div class="item"><img src="assets/images/im6.jpg" alt="Owl Image"></div>
  </div>

